.leaderFieldContainer{
	width: 50%;
	outline: 3px solid #EEEEEE;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:10vh;
}

.leaderFieldContainer > span {
	height: 30px;
	color: #8A8A8A;
	margin-bottom:16px;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
	align-self: flex-start;
	margin-left: 7vw;
}

.leaderFieldContainer > ul {
	overflow: auto;
	height: 36vw;
	padding: 0;
	width: 36vw;
	outline:  2px solid #EFEFF1;
	margin: 0;
}

.leaderFieldContainer > ul > li {
	margin-bottom: 5px;
	padding-left: 15px;
	background: #CFD8DC;
	display: flex;
	height: 50px;
	align-items: center;
	color: #A1AAAE;
	font-weight: 500;
	font-size: 20px;
}

.leaderFieldContainer ul > li > span {
	width: 150px;
}	